.sources-box {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--sources-bg);
  transition: 0.5s ease-in-out;
  z-index: 5;

  font:
    300 1em 'Fira Sans',
    sans-serif;

  @media screen and (max-width: 1439px) {
    width: 280px;
  }

  @media screen and (max-width: 900px) {
    top: 100px;
    left: -280px;
  }

  @media screen and (max-width: 500px) {
    top: 100px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 100px);
  }
}

.categories {
  width: 100%;
  background-color: var(--categories-bg);
  padding: 20px;

  .categories-label {
    font-size: 20px;
    font-weight: 600;
  }
}

.categories-list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 5px;

  .cat-label {
    cursor: pointer;
  }
}

.sources {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  overflow-y: auto;
  align-items: center;
}

.sources-show {
  transform: translateX(100%);
}

.sources::-webkit-scrollbar {
  width: 7px;
  background-color: var(--sources-scroll);
}

.sources::-webkit-scrollbar-thumb {
  background-color: #888;
}

.source__item {
  background: none;
  width: 100%;
  font: inherit;
  padding: 1em 2em;
  color: var(--source-color);
  transition: 0.25s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--sources-bg-hover);
}

.source__item:hover,
.source__item:focus {
  background-color: var(--sources-bg-hover);
  transform: translateY(-0.25em);
  border-color: var(--sources-bg-hover);
}

.source__item-name {
  font-weight: 600;
  white-space: nowrap;
  transition: font-weight 0.25s;
}

.cat-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid var(--source-color);
}

.cat-input:checked::before {
  position: relative;
  top: 2px;
  left: 2px;
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--source-color);
}
