:root {
  --body-bg: #17181c;
  --source-color: #17181c;
  --sources-bg: #ffd640;
  --sources-bg-hover: #ffc900;
  --secondary-color: #7d71d8;
  --main-bg: #474a51;
  --sources-scroll: #17181c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* color: #fff; */
  background: var(--body-bg);
  font-family: sans-serif;
  position: relative;
  min-height: 100vh;
  display: flex;
}

.empty-field {
  width: 350px;
  flex: none;

  @media screen and (max-width: 1439px) {
    width: 280px;
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

header {
  /* padding: 10px 30px; */
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 40px;
  font-weight: 800;
  color: var(--sources-bg);
}

main {
  width: 100%;
  flex: 1;
  background-color: var(--main-bg);

  .plug-text {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: var(--body-bg);
  }

  .hidden {
    display: none;
  }

  @media screen and (max-width: 900px) {
    overflow-x: hidden;
  }
}
footer {
  flex-shrink: 0;
  height: 80px;
  display: flex;
  align-items: center;

  justify-content: center;
  /* position: absolute; */

  bottom: 0;
  /* width: 100%; */

  .footer-content {
    max-width: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    .img-github {
      width: 35px;

      @media screen and (max-width: 500px) {
        width: 30px;
      }
    }

    .img-rss {
      width: 100px;

      @media screen and (max-width: 500px) {
        width: 80px;
      }
    }
  }
}

footer .copyright {
  font-size: 14px;
  color: #333;
  text-align: center;
}
footer .copyright a {
  color: #444;
}
footer .copyright a:hover {
  color: #555;
}
footer .copyright:before {
  content: '©';
}
