$color-main-bg: #363635;
$color-text: #ffffff;
$color-flag: #d52a2e;
$color-track: #ffc900;
$color-title: #ffc900;
$color-bg-btn: #888;
$color-btn-hover: #333;
$color-text-disabled: #c8c8c8;
$color-border-btn: #ffffff;
