@mixin flex($justify: normal, $align: normal) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column($justify: normal, $align: normal) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-wrap($justify: normal, $align: normal) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify;
  align-content: $align;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-main-bg;
  height: 100vh;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  @include flex-column(normal, center);
}

.title {
  font-family: 'Lilita One';
  font-size: 40px;
  color: $color-key;
  margin: 0;
}

.main {
  width: 100%;
  @include flex(space-between, normal)
}

.man-head, .man-body, .man-left-arm, .man-right-arm, .man-left-leg, .man-right-leg {
  width: 100px;
  height: 100px;
  background-color: $color-secondary;
} 

.gallows-box {
  width: 35%;
}

.game-box {
  width: 75%;
}

.question-box {
  width: 100%;
  height: 300px;
  @include flex-column(center, center);

  .answer-box {
    @include flex;
    gap: 15px;
    
    .letter-box {
      width: 50px;
      height: 50px;
      border-bottom: 3px solid $color-secondary;
    }
  }

  .hint {
    color: $color-light;
    font-size: 25px;
    font-family: 'Lilita One';
    margin-top: 30px;
  }

  .guesses {
    color: $color-light;
    font-size: 25px;
    font-family: 'Lilita One';
    margin-top: 30px;

    .guess-count, .guess-max {
      color: red;
    }
  }
}

.keyboard-box {
  width: 100%;
  height: 300px;
  // padding: 40px 100px;
  @include flex-wrap(center,center);
  gap: 10px;
  padding: 0 100px;

  .key {
    width: 40px;
    height: 40px;
    background-color: $color-key;
    border-radius: 5px;
    color: $color-main-bg;
    font-size: 30px;
    font-family: 'Lilita One';
    text-align: center;
    cursor: pointer;
    // opacity: 0.5;

    &:disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

}

.hidden {
  display: block;
}
