.modal-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $color-secondary;
  z-index: 1;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0px 0px 10px 1px black;

  @include flex-column(normal,normal);
}

.modal-show {
  animation: modal-show 0.3s ease-in-out; 
  animation-fill-mode: forwards;
}

.modal-hide {
  animation: modal-hide 0.3s ease-in-out; 
  animation-fill-mode: forwards;
}

.modal-hidden {
  display: none;
}

.modal-title {
  font-family: 'Lilita One';
  text-align: center;
  color: $color-light;
  font-size: 35px;
  text-shadow: 0px 0px 3px black;
}

.modal-content {
  display: flex;
  width: 100%;
}

.modal-image-box {
  width: 50%;
  @include flex(center,center);

  .modal-image {
    position:relative;

    .man-modal {
      width: 240px;
    }
  
    .halo-modal {
      width: 240px;
      position: absolute;
      top: 0;
      left:0;
      opacity:0;
    }

    .halo-modal-show {
      animation: halo-modal-show 1s ease-in-out;
      animation-fill-mode: forwards ;
      animation-delay: 0.5s;
        
      
    }

  }
}

.modal-answer {
  // align-self: flex-end;
  width: 50%;
  height: 100%;
  text-align: center;
  flex-grow: 1;
  @include flex-column(center, center);
  margin-bottom: 50px;

  .answer-title {
    font-family: 'Signika';
    font-size: 25px;
    color: $color-light;
    text-shadow: 0px 0px 3px black;
  }

  .correct-answer {
    font-family: 'Lilita One';
    font-size: 35px;
    color: $color-light;
    margin-top: 20px;
    text-shadow: 0px 0px 3px black;
    letter-spacing: 5px;
  }
}

.play-btn {
  width: 200px;
  height: 50px;
  @include flex(center, center);
  border-radius: 10px;
  border: 2px solid $color-main-bg;
  background-color: $color-hangman;
  align-self: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  color: $color-main-bg;
  font-family: 'Lilita One';
  font-size: 20px;


  &:hover {
    background-color: $color-main-bg;
    color: $color-light;
  }

}






@keyframes modal-show {
  from {
    transform: scale(0);
  } 
  to {
    transform: scale(1);
  }
}

@keyframes modal-hide {
  from {
    transform: scale(1);
  } 
  to {
    transform: scale(0);
  }
}

@keyframes halo-modal-show {
  from {
    opacity: 0;
  } 
  to {
    opacity: 1;
  }
}