@mixin desktop-1439 {
  @media screen and (max-width: 1439px) {
    @content;
  }
}

@mixin desktop-1250 {
  @media screen and (max-width: 1250px) {
    @content;
  }
}

@mixin laptops {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin tablets {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin tablets-768 {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablets-650 {
  @media screen and (max-width: 650px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 575px) {
    @content;
  }
}

@mixin flex($justify: normal, $align: normal) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column($justify: normal, $align: normal) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-wrap($justify: normal, $align: normal) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify;
  align-content: $align;
}
