@mixin laptops {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin tablets {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin tablets-700 {
  @media screen and (max-width: 700px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin flex($justify: normal, $align: normal) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column($justify: normal, $align: normal) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-wrap($justify: normal, $align: normal) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify;
  align-content: $align;
}
