// $color-text-dark: #403f3d;
// $color-text-light: #e1d4c9;
// $color-text-accent: #b0907a;

// $color-bg-body: #e1d4c9;
// $color-bg-container: #665f55;
// $color-bg-backdrop: #666564;

// $color-border-light: #c1b6ad;
// $color-border-dark: #665f55;

// $color-main-bg-light: #ffeec3;
// $color-text: #f35d4f;
// $color-text-dark: #cc232a;
// $color-borders: #ffd35a;
// $color-borders-dark: #fba51c;
// $color-cell: #537c78;
// $color-cell-light: #7aa591;
// $color-additional: #9fca94;
// $color-additional-light: #ccdbb0;

// light

$color-border: #000000;
$color-text: #000000;
$color-btn-border: #000000;
$color-cell-border: #000000;
$color-cell: #000000;
$color-time: #cb0000;
$color-btn-hover: #cb0000;
$color-border-shadow: lightgrey;

$color-btn-bg: #fbfbfb;
$color-field-bg: #fbfbfb;
