// $color-text-dark: #403f3d;
// $color-text-light: #e1d4c9;
// $color-text-accent: #b0907a;

// $color-bg-body: #e1d4c9;
// $color-bg-container: #665f55;
// $color-bg-backdrop: #666564;

// $color-border-light: #c1b6ad;
// $color-border-dark: #665f55;

$color-main-bg-light: #ffeec3;
$color-text: #f35d4f;
$color-text-dark: #cc232a;
$color-borders: #ffd35a;
$color-borders-dark: #fba51c;
$color-cell: #537c78;
$color-cell-light: #7aa591;
$color-additional: #9fca94;
$color-additional-light: #ccdbb0;
