* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  // background-color: $color-main-bg-light;
  background-image: url("./assets/images/bg_main.jpeg");
  // background-size: 100%;
  // min-height: 100dvh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  // @include flex-column;
}

// a {
//   text-decoration: none;
// }
