* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  // background-color: $color-main-bg-light;
  background-image: url("./assets/images/red.png");
  background-size: 100%;
  min-height: 100dvh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  @include flex(center, center);
  // @include flex-column;
  font-family: "Varela Round";
  font-weight: 400;
}

// a {
//   text-decoration: none;
// }
