* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include flex(center, center);
  background-image: url("./assets/images/red.png");
  background-size: 100%;
  min-height: 100dvh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  font-family: "Varela Round";
  font-weight: 400;
  transition: all 0.3 ease;
}

.dark-theme {
  background-image: url("./assets/images/blackred.png");
}
