* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: 2px solid red;
}

body {
  // @include flex(center, center);
  background-image: url("./assets/images/main-bg.jpeg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Asap", sans-serif;
  font-weight: 400;
  @include flex(center, center);
  // font-family: "Lilita One", sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  @include flex(center, center);
}
