* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Roboto";
  font-weight: 400;
  // @include flex(center, center);
}

.wrapper {
  background-color: $color-main-bg;
  color: $color-text;
  width: 100%;
  height: 100vh;
  @include flex-column;
}

.btn-box {
  @include flex();
  padding: 10px;
  gap: 5px;
}

.garage-btn,
.winners-btn {
  @include btn;
  width: 150px;
  height: 30px;
  font-size: 20px;
}
