* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Roboto";
  font-weight: 400;
  // @include flex(center, center);
}

.wrapper {
  background-color: $color-main-bg;
  width: 100%;
  height: 100vh;
}
