.about {
  &__wrapper {
    @include wrapper;
  }

  &__title {
    @include text-heading-2(normal);
    color: $color-text-dark;

    span {
      font-style: italic;
      color: $color-text-accent;
    }
  }

  &__images {
    @include flex-wrap;
    flex-direction: column;
    width: 100%;
    height: 1060px;
    gap: 40px;
    margin-top: 40px;

    .image-wrapper {
      @include flex(center, center);
      width: 660px;
      height: 590px;
      overflow: hidden;
      border-radius: 20px;
      // cursor: pointer;

      img {
        transition: 0.5s ease-in-out;
      }

      img:hover {
        transform: scale(0.91);
      }
    }

    .image-wrapper:nth-child(2),
    .image-wrapper:nth-child(3) {
      height: 430px;
    }
  }
}
