.about {
  &__wrapper {
    @include wrapper;
  }

  &__title {
    @include text-heading-2(normal);
    color: $color-text-dark;

    span {
      font-style: italic;
      color: $color-text-accent;
    }
  }

  &__images {
    @include flex(space-between);
    width: 100%;
    margin-top: 40px;

    @include laptops {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
  }

  &__images-column {
    @include flex-column;
    gap: 40px;

    @include desktop-1439 {
      width: 48.53%;
    }

    @include laptops {
      width: 688px;
    }

    @include tablets-768 {
      width: 100%;
    }

    .image-wrapper {
      @include flex(center, center);
      width: 660px;
      height: 590px;
      overflow: hidden;
      border-radius: 20px;

      @include desktop-1439 {
        width: 100%;
        height: auto;
        aspect-ratio: 660/590;
      }

      @include laptops {
        height: 590px;
        aspect-ratio: auto;
      }

      img {
        transition: 0.5s ease-in-out;
        width: 110%;

        @include laptops {
          width: auto;
        }

        @media (hover: hover) {
          &:hover {
            transform: scale(0.91);
          }
        }
      }
    }

    .image-wrapper:nth-child(2) {
      height: 430px;

      @include desktop-1439 {
        height: auto;
        aspect-ratio: 660/430;
      }

      @include laptops {
        height: 430px;
        aspect-ratio: auto;
      }

      @include tablets-768 {
        display: none;
      }
    }
  }

  &__images-column:last-child {
    flex-direction: column-reverse;
  }
}
