.enjoy {
  background-color: $color-bg-body;

  &__wrapper {
    @include wrapper;
  }

  &__box {
    width: 100%;
    height: 644px;
    border-radius: 40px;
    background: url('../assets/images/img-hero.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding: 100px;
    position: relative;
    overflow: hidden;

    @include laptops {
      padding: 100px 60px;
    }

    @include mobile {
      padding: 60px 16px;
      height: 552px;
    }
  }

  &__video-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    width: 535px;
    @include flex-column;
    gap: 40px;

    @include tablets {
      width: 100%;
    }
  }

  &__title {
    @include text-heading-1(normal);
    color: $color-text-light;
    margin: 0;
    height: 228px;

    @include tablets {
      height: auto;
    }

    span {
      font-style: italic;
      color: $color-text-accent;
      margin-right: 17px;

      @include mobile {
        margin-right: 10px;
      }
    }
  }

  &__text {
    @include text-medium;
    color: $color-text-light;
  }

  &__btn {
    @include btn-primary;
    gap: 8px;

    .enjoy-btn-text {
      @include text-link-and-btn;
      line-height: 150%;
      color: $color-text-dark;
      // transform: translateX(0px);
      transition: 0.5s ease-in-out;

      // @include tablets-768 {
      //   transform: translateX(0px);
      // }
    }

    img {
      width: 20px;
      height: 20px;
      // opacity: 1;
      transition: opacity 0.5s ease-in-out;

      // @include tablets-768 {
      //   opacity: 1;
      // }
    }

    @media (hover: none) and (pointer: coarse) {
      span {
        transform: translateX(0px);
      }

      img {
        opacity: 1;
      }
    }

    @media (hover: hover) and (pointer: fine) {
      span {
        transform: translateX(14px);
      }

      img {
        opacity: 0;
      }

      &:hover span {
        transform: translateX(0px);
      }

      &:hover img {
        opacity: 1;
      }
    }
  }
}

video {
  pointer-events: none;
}
