.enjoy {
  background-color: $color-bg-body;

  &__wrapper {
    @include wrapper;
  }

  &__box {
    width: 100%;
    height: 644px;
    border-radius: 40px;
    background: url('../assets/images/img-hero.jpg');
    background-size: cover;
    // background-size: 100% auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding: 100px;

    @include laptops {
      padding: 100px 60px;
    }
  }

  &__content {
    width: 535px;
    @include flex-column;
    gap: 40px;
  }

  &__title {
    @include text-heading-1(normal);
    color: $color-text-light;
    margin: 0;
    height: 228px;

    span {
      font-style: italic;
      color: $color-text-accent;
      margin-right: 17px;
    }
  }

  &__text {
    @include text-medium;
    color: $color-text-light;
  }

  &__btn {
    @include btn-primary;
    gap: 8px;

    span {
      @include text-link-and-btn;
      line-height: 150%;
      color: $color-text-dark;
      transform: translateX(12px);
      transition: 0.5s ease-in-out;

      @include laptops {
        transform: translateX(0px);
      }
    }

    img {
      width: 20px;
      height: 20px;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;

      @include laptops {
        opacity: 1;
      }
    }

    &:hover span {
      transform: translateX(0px);
    }

    &:hover img {
      opacity: 1;
    }
  }
}
