.favorites-coffee {
  &__wrapper {
    @include wrapper;
    padding-bottom: 100px;
  }

  &__title {
    @include text-heading-2(normal);
    color: $color-text-dark;
    text-align: center;

    span {
      font-style: italic;
      color: $color-text-accent;
    }
  }

  .slider {
    margin-top: 40px;

    &__box {
      @include flex(space-between, center);
      padding-left: 4px;
      padding-right: 4px;

      @include laptops {
        padding: 0;
      }

      @include tablets {
        justify-content: center;
      }

      .arrow-btn {
        @include btn-icon;

        @include tablets {
          display: none;
        }
      }

      .arrow-btn svg g path {
        stroke: $color-text-dark;
        transition: 0.3s ease-in-out;
      }
    }

    &__outer {
      width: 480px;
      height: 640px;
      overflow: hidden;

      @include tablets {
        width: 66.95%;
        height: auto;
      }

      @include mobile {
        // width: 100%;
        width: 348px;
      }
    }

    &__inner {
      width: 300%;
      height: 100%;
      @include flex;
      transition: 0.5s ease-in-out;

      .slide {
        width: 33.33%;
        @include flex-column(normal, center);

        &__image {
          width: 100%;
        }

        &__title {
          @include text-heading-3(normal);
          color: $color-text-dark;
          margin-top: 20px;
        }

        &__description {
          @include text-medium;
          color: $color-text-dark;
          margin-top: 16px;
          text-align: center;
        }

        &__price {
          @include text-heading-3;
          color: $color-text-dark;
          margin-top: 16px;
        }
      }

      // .hidden {
      //   display: none;
      // }
    }

    &__controls {
      margin-top: 40px;
      width: 144px;
      margin-left: auto;
      margin-right: auto;
      @include flex(space-between);

      .control {
        width: 40px;
        height: 4px;
        background-color: $color-border-light;
        border-radius: 100px;
        position: relative;
        overflow: hidden;

        .control-inner {
          width: 200%;
          height: 100%;
          position: absolute;
          top: 0;
          left: -100%;
          background-color: $color-border-dark;
          transform: scaleX(0);
          display: none;
        }

        .control-active {
          display: block;
          animation: showActive 5s linear;
        }

        .control-paused {
          animation-play-state: paused;
        }
      }
    }
  }
}

@keyframes showActive {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
