.favorites-coffee {
  &__wrapper {
    @include wrapper;
    padding-bottom: 100px;
  }

  &__title {
    @include text-heading-2(normal);
    color: $color-text-dark;
    text-align: center;

    span {
      font-style: italic;
      color: $color-text-accent;
    }
  }

  .slider {
    margin-top: 40px;

    &__box {
      @include flex(space-between, center);
      padding-left: 4px;
      padding-right: 4px;

      @include laptops {
        padding: 0;
      }

      @include tablets {
        justify-content: center;
      }

      .arrow-btn {
        @include btn-icon;
        // width: 60px;
        // height: 60px;
        // background-color: transparent;
        // border: 1px solid $color-border-dark;
        // border-radius: 50%;
        // @include flex(center, center);
        // cursor: pointer;
        // transition: 0.3s ease-in-out;
        // &:hover {
        //   background-color: $color-bg-container;
        // }
        // &:hover svg g path {
        //   stroke: $color-text-light;
        // }
        @include tablets {
          display: none;
        }
      }

      .arrow-btn svg g path {
        stroke: $color-text-dark;
        transition: 0.3s ease-in-out;
      }
    }

    &__outer {
      width: 480px;
      height: 640px;

      @include tablets {
        width: 66.95%;
        height: auto;
      }

      @include mobile {
        width: 100%;
      }
    }

    &__inner {
      @include flex;

      .slide {
        width: 100%;
        @include flex-column(normal, center);

        // @include tablets {
        // }

        &__image {
          width: 100%;
          // height: 480px;
        }

        &__title {
          @include text-heading-3(normal);
          color: $color-text-dark;
          margin-top: 20px;
        }

        &__description {
          @include text-medium;
          color: $color-text-dark;
          margin-top: 16px;
          text-align: center;
        }

        &__price {
          @include text-heading-3;
          color: $color-text-dark;
          margin-top: 16px;
        }
      }
    }

    &__controls {
      margin-top: 40px;
      width: 144px;
      margin-left: auto;
      margin-right: auto;
      @include flex(space-between);

      .control {
        width: 40px;
        height: 4px;
        background-color: $color-border-light;
        border-radius: 100px;
        overflow: hidden;

        .control-inner {
          width: 100%;
          height: 100%;
        }

        .control-active {
          background-color: $color-border-dark;
        }
      }
    }
  }
}
