.header {
  background-color: $color-bg-body;

  &__wrapper {
    @include wrapper;
    @include flex(normal, center);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;

    @include tablets-768 {
      justify-content: space-between;
    }

    .logo-wrapper {
      width: 100px;
      height: 60px;
      cursor: pointer;
      position: relative;
      z-index: 3;

      .logo {
        width: 100px;
        height: 60px;
      }
    }

    .navigation-menu {
      @include flex(normal, center);
      width: calc(100% - 100px);

      @include tablets-768 {
        position: fixed;
        width: 100%;
        height: calc(100vh - 100px);
        z-index: 2;
        background-color: $color-bg-body;
        top: 100px;
        left: 100%;
        transition: 0.5s ease-in-out;
        // display: block;
        // padding-top: 100px;
        flex-direction: column;
      }

      .navigation {
        width: 1188px;
        height: 60px;
        @include flex(center, center);

        @include tablets-768 {
          width: 100%;
          // height: calc(100vh - 100px);
          height: auto;
          padding-top: 60px;
          @include flex-column(normal, center);
        }

        .nav-list {
          @include flex;

          list-style-type: none;
          gap: 40px;

          @include tablets-768 {
            @include flex-column(normal, center);
            gap: 60px;
          }

          .nav-item {
            position: relative;
            height: 28px;

            @include tablets-768 {
              height: 40px;
            }

            a {
              @include text-link-and-btn;
              color: $color-text-dark;

              @include tablets-768 {
                @include text-burger-link;
              }
            }

            .nav-line {
              @include line-under-link;
            }

            @media (hover: hover) {
              &:hover .nav-line {
                width: 100%;
                opacity: 1;
              }
            }
          }
        }

        // @include tablets-768 {
        //   display: none;
        // }
      }

      .coffee-menu {
        width: 72px;
        height: 28px;
        position: relative;

        @include tablets-768 {
          margin-top: 100px;
          width: 143px;
          height: 40px;
        }

        .menu-link {
          @include flex;

          @include tablets-768 {
            align-items: center;
          }

          p {
            @include text-link-and-btn;
            color: $color-text-dark;

            @include tablets-768 {
              @include text-burger-link;
            }
          }

          img {
            width: 20px;
            height: 20px;
            margin-left: 8px;

            @include tablets-768 {
              width: 40px;
              height: 40px;
              margin-left: 16px;
            }
          }
        }

        .menu-line {
          @include line-under-link;

          &__visible {
            width: 100%;
            opacity: 1;

            @include tablets-768 {
              width: 0;
              opacity: 0;
            }
          }
        }

        @media (hover: hover) {
          &:hover .menu-line {
            width: 100%;
            opacity: 1;
          }
        }

        // @include tablets-768 {
        //   display: none;
        // }
      }

      .menu-disabled {
        pointer-events: none;

        @include tablets-768 {
          pointer-events: all;
        }
      }
    }

    .navigation-menu-show {
      transform: translateX(-100%);
    }

    .burger {
      width: 44px;
      height: 44px;
      border: 1px solid $color-border-dark;
      border-radius: 50%;
      padding: 16px 11px;
      @include flex-column(space-between, center);
      display: none;
      cursor: pointer;
      flex: none;
      position: relative;
      z-index: 3;

      @include tablets-768 {
        display: flex;
      }

      span {
        width: 16px;
        height: 1.5px;
        border-radius: 2px;
        background-color: $color-text-dark;
        transition: 0.5s ease-in-out;
      }

      .burger-first {
        transform: translate(2.5px, -1.5px) rotate(45deg);
        transform-origin: 0 0;
      }

      .burger-second {
        transform: translate(2.5px, 1.5px) rotate(-45deg);
        transform-origin: 0 0;
      }
    }
  }
}
