.header {
  background-color: $color-bg-body;

  &__wrapper {
    @include wrapper;
    @include flex(space-between, center);
    padding-top: 20px;
    padding-bottom: 20px;

    .logo-wrapper {
      width: 100px;
      height: 60px;
      cursor: pointer;

      .logo {
        width: 100px;
        height: 60px;
      }
    }

    .navigation {
      width: 1188px;
      height: 60px;
      @include flex(center, center);

      .nav-list {
        @include flex;

        list-style-type: none;
        gap: 40px;

        .nav-item {
          position: relative;
          height: 28px;

          a {
            @include text-link-and-btn;
            color: $color-text-dark;
          }

          .nav-line {
            @include line-under-link;
          }

          @media (hover: hover) {
            &:hover .nav-line {
              width: 100%;
              opacity: 1;
            }
          }
        }
      }

      @include tablets-768 {
        display: none;
      }
    }

    .coffee-menu {
      width: 72px;
      height: 28px;
      position: relative;

      .menu-link {
        @include flex(space-between);

        p {
          @include text-link-and-btn;
          line-height: 150%;
          color: $color-text-dark;
        }

        img {
          width: 20px;
          height: 20px;
        }
      }

      .menu-line {
        @include line-under-link;

        &__visible {
          width: 100%;
          opacity: 1;
        }
      }

      @media (hover: hover) {
        &:hover .menu-line {
          width: 100%;
          opacity: 1;
        }
      }

      @include tablets-768 {
        display: none;
      }
    }

    .menu-disabled {
      pointer-events: none;
    }

    .burger {
      width: 44px;
      height: 44px;
      border: 1px solid $color-border-dark;
      border-radius: 50%;
      padding: 16px 11px;
      @include flex-column(space-between, center);
      display: none;
      cursor: pointer;

      @include tablets-768 {
        display: flex;
      }

      span {
        width: 16px;
        height: 1.5px;
        background-color: $color-text-dark;
        transition: 0.5s ease-in-out;
      }
    }
  }
}
