.mobile-app {
  margin-bottom: auto;
  &__wrapper {
    @include wrapper;
    @include flex(space-between, center);

    @include desktop-1250 {
      flex-direction: column;
      gap: 100px;
    }

    @include tablets {
      gap: 40px;
    }
  }

  &__content {
    width: 630px;

    @include laptops {
      width: 688px;
    }

    @include tablets {
      width: 100%;
    }
  }

  &__title {
    @include text-heading-2(normal);
    color: $color-text-dark;

    span {
      color: $color-text-accent;
      font-style: italic;
    }
  }

  &__text {
    @include text-medium;
    color: $color-text-dark;
    margin-top: 40px;
  }

  &__buttons {
    @include flex;
    gap: 20px;
    margin-top: 40px;

    @include mobile {
      flex-direction: column;
    }

    .mobile-btn {
      @include btn-app;

      span {
        text-align: left;
        @include flex-column;

        span:first-child {
          @include text-caption;
          color: $color-text-dark;
        }

        span:last-child {
          @include text-link-and-btn;
          color: $color-text-dark;
          margin-top: 2px;
        }
      }

      @media (hover: hover) {
        &:hover svg g path {
          fill: $color-text-light;
        }

        &:hover svg path {
          fill: $color-text-light;
        }

        &:hover > span > span {
          color: $color-text-light;
        }
      }
    }
  }

  &__image {
    width: 46.32%;

    @include desktop-1250 {
      width: 630px;
    }

    @include tablets {
      width: 100%;
    }
  }
}
