.car-block {
  width: 100%;
  height: 80px;
  position: relative;
  border-bottom: 2px dashed $color-track;
  padding-left: 10px;
}

.car-img {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 75px;
  // transform: translateX(70px);
  bottom: -5px;
}

.flag-icon {
  position: absolute;
  width: 50px;
  height: 60px;
  right: 75px;
  bottom: -5px;
  background-image: url("../../../assets/icons/finish-flag.svg");
  @include bg-icon;
}

.car-name {
  color: $color-text;
}

.buttons-box {
  @include flex;
  gap: 5px;

  .select-btn,
  .remove-btn {
    @include btn;
    width: 60px;
    height: 20px;
    font-size: 14px;
    border-radius: 3px;
    background-color: $color-btn-hover;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5);

    @media (hover: hover) {
      &:hover {
        background-color: $color-bg-btn;
        box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5);
      }
    }
  }
}

.controls-box {
  @include flex;
  gap: 5px;
  margin-top: 5px;

  .start-btn,
  .stop-btn {
    width: 25px;
    height: 30px;
    @include btn;
    font-size: 18px;
    background-color: $color-btn-hover;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5);

    @media (hover: hover) {
      &:hover {
        background-color: $color-bg-btn;
        box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5);
      }
    }
  }
  .start-btn {
    color: $color-title;
  }

  .stop-btn {
    color: $color-flag;
  }
}

.car-broken {
  background-image: (url("../../../assets/icons/fire.svg"));
  background-size: 30% auto;
  background-position: top 0 right 0;
  background-repeat: no-repeat;
}
