* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Roboto";
  font-weight: 400;
  background-color: $color-body-bg;
}

.wrapper {
  width: 100%;
  height: 100%;
  @include flex(center, center);
}
