@mixin laptop-1000 {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@mixin flex($justify: normal, $align: normal) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column($justify: normal, $align: normal) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-wrap($justify: normal, $align: normal) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify;
  align-content: $align;
}

@mixin btn {
  @include flex(center, center);
  color: $color-text-btn;
  background-color: $color-btn-bg;
  // border: 2px solid $color-border-btn;
  font-size: 20px;
  width: 160px;
  height: 50px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;

  &:hover {
    background-color: $color-btn-bg-hover;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

@mixin bg-icon {
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
