$color-1: #88bdbc;
$color-2: #254e58;
$color-3: #112d32;
$color-4: #4f4a41;
$color-5: #6e6658;

$color-fail: #e32636;
$color-body-bg: #ffead8;
$color-bg: #88bdbc;
$color-text: #4f4a41;
$color-label: #254e58;
$color-input: #bcdede;
$color-btn-bg: #356b79;
$color-btn-bg-hover: #254e58;
$color-text-btn: #d8f3f3;
$color-border-btn: #4f4a41;
$color-icon: #254e58;
$color-icon-hover: #112d32;
$color-modal-bg: #afdede;
$color-main-bg: #bcdede;
$color-footer: #6e6658;
$color-footer-hover: #4f4a41;
$color-input-border: #88bdbc;
$color-user-hover: #88bdbc;
$color-inactive: #bfa997;
$color-active: #4f4a41;

$color-dialog: #254e58;
