$color-1: #88bdbc;
$color-2: #254e58;
$color-3: #112d32;
$color-4: #4f4a41;
$color-5: #6e6658;
$color-fail: #e32636;

$color-bg: #88bdbc;
$color-text: #4f4a41;
$color-label: #254e58;
$color-input: #d8f3f3;
$color-btn-bg: #356b79;
$color-btn-bg-hover: #254e58;
$color-text-btn: #d8f3f3;
$color-border-btn: #4f4a41;
