.messages-wrapper {
  width: 70%;
  height: 100%;
  background-color: $color-main-bg;
  border: 2px solid $color-input-border;
  border-radius: 5px;
  @include flex-column;
}

.dialog-wrapper {
  flex-grow: 1;
  width: 100%;
  @include flex-column;
}

.dialog-user {
  width: 100%;
  height: 40px;
  padding: 0 50px;
  border-bottom: 2px solid $color-input-border;
  @include flex(space-between, center);
  color: $color-dialog;
  @include mobile-600 {
    padding: 0 20px;
    font-size: 14px;
  }
}

.dialog-user-login {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dialog-user-status {
  color: rgb(14, 152, 14);
  flex: none;
}

.status-inactive {
  color: $color-fail;
}

.messages-box {
  height: 400px;
  width: 100%;
  position: relative;
  overflow-y: hidden;
}

.placeholder {
  position: absolute;
  width: 100%;
  height: 100%;
  @include flex(center, center);
  color: #254e58;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 20px;
}

.placeholder-hidden {
  display: none;
}

.messages {
  width: 100%;
  height: 100%;
  @include flex-column;
  overflow-y: scroll;
  padding-top: 10px;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: $color-scrollbar;
  }

  &::-webkit-scrollbar-thumb {
    width: 8px;
    height: 8px;
    background-color: $color-thumb;
  }
}

.divider {
  width: 90%;
  height: 15px;
  border-bottom: 1px solid $color-divider;
  color: $color-divider;
  font-size: 12px;
  text-align: center;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}
