.messages-wrapper {
  width: 70%;
  height: 100%;
  background-color: $color-main-bg;
  border: 2px solid $color-input-border;
  border-radius: 5px;
  @include flex-column;
}

.dialog-wrapper {
  flex-grow: 1;
  width: 100%;
  @include flex-column;
}

.dialog-user {
  width: 100%;
  height: 40px;
  padding: 0 50px;
  border-bottom: 2px solid $color-input-border;
  @include flex(space-between, center);
  color: $color-dialog;
}

.status-inactive {
  color: $color-fail;
}

.messages-box {
  // flex-grow: 1;
  height: 400px;
  width: 100%;
  position: relative;
  overflow-y: hidden;
}

.placeholder {
  position: absolute;
  width: 100%;
  height: 100%;
  @include flex(center, center);
  color: #254e58;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 1;
}

.placeholder-hidden {
  display: none;
}

.messages {
  width: 100%;
  height: 100%;
  @include flex-column;

  // position: absolute;
  // z-index: 2;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: $color-scrollbar;
  }

  &::-webkit-scrollbar-thumb {
    width: 8px;
    height: 8px;
    background-color: $color-thumb;
  }
}
