.header {
  width: 100%;
  height: 80px;
  @include flex(space-between, center);
  background-color: $color-bg;
  padding: 0 20px;
  color: $color-text;
}

.curr-user {
  font-size: 20px;

  span {
    font-weight: 500;
  }
}

.header-title {
  font-size: 30px;
}

.buttons {
  @include flex;
  gap: 15px;
}

.main-info-btn {
  @include flex(center, center);

  width: 50px;
  height: 50px;

  cursor: pointer;

  svg {
    width: 80%;
    transition: 0.3s ease-in-out;

    circle,
    path {
      stroke: $color-icon;
      transition: 0.3s ease-in-out;
    }
  }

  @media (hover: hover) {
    &:hover {
      circle,
      path {
        stroke: $color-icon-hover;
      }
    }
  }
}

.logout-btn {
  @include flex(center, center);

  width: 50px;
  height: 50px;

  cursor: pointer;

  svg {
    width: 80%;
    transition: 0.3s ease-in-out;

    path {
      stroke: $color-icon;
      transition: 0.3s ease-in-out;
    }
  }

  @media (hover: hover) {
    &:hover {
      path {
        stroke: $color-icon-hover;
      }
    }
  }
}
