.header {
  width: 100%;
  height: 70px;
  @include flex(space-between, center);
  background-color: $color-bg;
  padding: 0 20px;
  color: $color-text;
  @include mobile-600 {
    padding: 0 10px;
  }
}

.curr-user {
  font-size: 20px;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include mobile-600 {
    max-width: 150px;
  }

  span {
    font-weight: 500;
  }
}

.header-title {
  font-size: 30px;
  color: #254e58;
  text-align: center;
  @include mobile-600 {
    font-size: 25px;
  }
}

.buttons {
  @include flex;
  gap: 15px;
  @include mobile-600 {
    gap: 0;
  }
}

.main-info-btn {
  @include flex(center, center);

  width: 50px;
  height: 50px;

  cursor: pointer;

  @include mobile-600 {
    width: 40px;
    height: 40px;
  }

  svg {
    width: 80%;
    transition: 0.3s ease-in-out;

    circle,
    path {
      stroke: $color-icon;
      transition: 0.3s ease-in-out;
    }
  }

  @media (hover: hover) {
    &:hover {
      circle,
      path {
        stroke: $color-icon-hover;
      }
    }
  }
}

.logout-btn {
  @include flex(center, center);

  width: 50px;
  height: 50px;

  cursor: pointer;

  @include mobile-600 {
    width: 40px;
    height: 40px;
  }

  svg {
    width: 80%;
    transition: 0.3s ease-in-out;

    path {
      stroke: $color-icon;
      transition: 0.3s ease-in-out;
    }
  }

  @media (hover: hover) {
    &:hover {
      path {
        stroke: $color-icon-hover;
      }
    }
  }
}
