.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  @include flex(center, center);
  background-color: rgba(255, 233, 216, 0.3);
}

.modal-content {
  width: 320px;
  height: 200px;
  padding: 30px 20px;
  @include flex-column(space-around, center); // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  background-color: $color-modal-bg;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px rgba(37, 78, 88, 0.7);
  // z-index: 2;
  // display: none;

  .modal-text {
    color: $color-text;
    font-size: 20px;
    text-align: center;
  }

  .ok-btn {
    @include btn;
    width: 120px;
    height: 40px;
    font-size: 18px;
  }
}

.modal-show {
  animation: modal-show 0.3s ease-in-out forwards;
}

.modal-hide {
  animation: modal-hide 0.3s ease-in-out forwards;
}

.overlay-show {
  animation: overlay-show 0.3s ease-in-out forwards;
}

@keyframes modal-show {
  from {
    transform: scale(0);
    // opacity: 0;
  }
  to {
    // opacity: 1;
    transform: scale(1);
  }
}

@keyframes modal-hide {
  from {
    // opacity: 1;
    transform: scale(1);
  }
  to {
    // opacity: 0;
    transform: scale(0);
  }
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes overlay-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
