.login-wrapper {
  width: 100%;
  height: 100%;
  @include flex(center, center);
  position: relative;
}

.login-form {
  width: 350px;
  @include flex-column;
  padding: 30px 20px;
  gap: 20px;
  border-radius: 5px;
  background-color: $color-bg;
  box-shadow: 0 0 5px 3px rgba(37, 78, 88, 0.7);
}

.input-wrapper {
  @include flex-column(normal, stretch);
  width: 100%;
}

.input-box {
  width: 100%;
}

.input {
  width: 100%;
  margin-top: 5px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  color: $color-text;
  background-color: $color-input;
}

.incorrect {
  border: 2px solid $color-fail;
}

.label {
  font-size: 20px;
  color: $color-label;
}

.tooltip {
  width: 100%;
  font-size: 12px;
  color: $color-fail;
  text-shadow: 0 0 1px #000000;
  font-weight: 300;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.buttons-box {
  align-self: center;
  position: relative;
  width: 100%;
  @include flex(center, center);

  .info-btn {
    @include bg-icon;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background-image: url("@assets/icons/info.svg");
    background-size: 80% auto;

    cursor: pointer;
  }

  .login-btn {
    @include btn;
  }
}
