.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  @include flex(center, center);
  background-color: rgba(255, 233, 216, 0.3);
}

.modal-content {
  width: 320px;
  height: 200px;
  padding: 30px 20px;
  @include flex-column(space-around, center);

  background-color: $color-modal-bg;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px rgba(37, 78, 88, 0.7);

  .modal-text {
    color: $color-text;
    font-size: 20px;
    text-align: center;
  }

  .ok-btn {
    @include btn;
    width: 120px;
    height: 40px;
    font-size: 18px;
  }
}

.modal-show {
  animation: modal-show 0.3s ease-in-out forwards;
}

.modal-hide {
  animation: modal-hide 0.3s ease-in-out forwards;
}

.overlay-show {
  animation: overlay-show 0.3s ease-in-out forwards;
}

@keyframes modal-show {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes modal-hide {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes overlay-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: $color-loader;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
