.main-wrapper {
  max-width: 800px;
  width: 100%;
  // background-color: $color-bg;
  // @include flex(center, center);
  // background-color: green;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px rgba(37, 78, 88, 0.7);
  overflow: hidden;
}

.main {
  width: 100%;
  height: 500px;
  background-color: $color-bg;
  @include flex();
}

// .messages-wrapper {
//   flex-grow: 1;
//   width: 100%;
// }
