.message {
  max-width: 60%;
  width: 100%;
  @include flex-column;
  margin-bottom: 10px;
  position: relative;
  border-radius: 5px;

  @include mobile-600 {
    max-width: 80%;
  }
}

.msg-top-info {
  width: 100%;
  padding: 0 5px;
  @include flex(space-between, center);
  height: 15px;

  .msg-author,
  .msg-date {
    font-size: 12px;

    @include mobile-600 {
      font-size: 10px;
    }
  }

  .msg-date {
    flex: none;
  }

  .msg-author {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 5px;
  }

  .message-right & {
    color: $color-right-data;
  }

  .message-left & {
    color: $color-left-data;
  }
}

.msg-text {
  font-size: 16px;
  padding: 5px;
  overflow-wrap: break-word;

  @include mobile-600 {
    font-size: 14px;
  }
}

.msg-status-box {
  width: 100%;
  padding: 0 5px;
  @include flex(space-between, center);
  height: 15px;
  font-size: 12px;

  @include mobile-600 {
    font-size: 10px;
  }

  .message-right & {
    color: $color-right-data;
  }

  .message-left & {
    color: $color-left-data;
  }
}

.message-right {
  margin-right: 10px;
  align-self: flex-end;
  background-color: $color-message-right;
  color: $color-dialog;
}

.message-left {
  margin-left: 10px;
  align-self: flex-start;
  background-color: $color-message-left;
  color: $color-text;
}

.context-menu {
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 5;
  background-color: $color-context-menu;
  color: $color-icon;
  border-radius: 5px;
  padding: 5px;
  @include flex-column;

  .edit-btn,
  .delete-btn {
    background-color: transparent;
    border: none;
    outline: none;
    width: 120px;
    height: 20px;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        background-color: $color-context-menu-hover;
      }
    }
  }
}
