.message {
  max-width: 60%;
  width: 100%;
  @include flex-column;
  margin-bottom: 10px;
  position: relative;
  border-radius: 5px;
}

.msg-top-info {
  width: 100%;
  padding: 0 5px;
  @include flex(space-between, center);
  height: 15px;

  .msg-author,
  .msg-date {
    font-size: 12px;
  }

  // .message-right & {
  //   background-color: $color-right-data;
  // }

  // .message-left & {
  //   background-color: $color-left-data;
  // }
}

.msg-text {
  font-size: 16px;
  padding: 5px;
  overflow-wrap: break-word;
}

.msg-status {
  width: 100%;
  padding: 0 5px;
  @include flex(flex-end, center);
  height: 15px;
  font-size: 12px;

  // .message-right & {
  //   background-color: $color-right-data;
  // }

  // .message-left & {
  //   background-color: $color-left-data;
  // }
}

.message-right {
  margin-right: 10px;
  align-self: flex-end;
  background-color: $color-message-right;
  color: $color-dialog;
}

.message-left {
  // margin-top: 10px;
  margin-left: 10px;
  align-self: flex-start;
  background-color: $color-message-left;
  color: $color-text;
}

.context-menu {
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 5;
  background-color: $color-context-menu;
  color: $color-text;
  border-radius: 5px;
  padding: 5px;
  @include flex-column;

  .edit-btn,
  .delete-btn {
    background-color: transparent;
    border: none;
    outline: none;
    width: 120px;
    height: 20px;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        background-color: $color-context-menu-hover;
      }
    }
  }
}
