.new-message-wrapper {
  height: 60px;
  width: 100%;
  background-color: $color-main-bg;
  border-top: 2px solid $color-border;
  padding: 0 15px;
  @include flex(center, center);
}

.message-form {
  width: 100%;
  @include flex(space-between, center);
  gap: 5%;
}

.input-box {
  position: relative;
  flex-grow: 1;
}

.message-input {
  width: 100%;
  height: 35px;
  background-color: $color-input-main;
  border-radius: 5px;
  padding: 3px;
  border: 2px solid $color-input-border;
  outline: none;
  color: $color-text-main;

  &:disabled {
    opacity: 0.5;
  }
}

.undo-edit-btn {
  top: 5px;
  right: 5px;
  position: absolute;
  height: 25px;
  width: 25px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url("./src/assets/icons/undo-edit-btn.svg");
  background-size: 100% 100%;
  cursor: pointer;
}

.send-btn {
  @include btn;
  width: 100px;
  height: 35px;
  font-size: 16px;
}
