.users-wrapper {
  width: 30%;
  height: 100%;
  background-color: $color-main-bg;
  padding: 5px;
  border: 2px solid $color-input-border;
  border-radius: 5px;
  @include flex-column;
}

.user-search {
  width: 100%;
  height: 30px;
  background-color: $color-input-main;
  border-radius: 5px;
  padding: 3px;
  border: 2px solid $color-input-border;
  outline: none;

  // margin-bottom: 10px;
}

.users-list {
  margin-top: 10px;
  margin-left: 5px;
  // height: 100%;
  flex-grow: 1;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: $color-scrollbar;
  }

  &::-webkit-scrollbar-thumb {
    width: 8px;
    height: 8px;
    background-color: $color-thumb;
  }
}

ul {
  list-style-type: none;
}
// .active-list,
// .inactive-list {
//   list-style-type: disc;
//   color: $color-label;
//   transform: translateX(20px);
// }

.user-item {
  width: 100%;
  height: 27px;
  cursor: pointer;
  transition: 0.1s linear;
  @include flex(space-between, center);
  padding: 0 5px;
  border-radius: 3px;
  font-size: 16px;
  color: $color-inactive;

  @media (hover: hover) {
    &:hover {
      background-color: $color-user-hover;
    }
  }
}

.active-user {
  color: $color-active;
}

.user-hidden {
  display: none;
}
