.users-wrapper {
  width: 30%;
  height: 100%;
  background-color: $color-main-bg;
  padding: 5px;
  border: 2px solid $color-input-border;
  border-radius: 5px;
  @include flex-column;
}

.user-search {
  width: 100%;
  height: 30px;
  background-color: $color-input-main;
  border-radius: 5px;
  padding: 3px;
  border: 2px solid $color-input-border;
  outline: none;

  // margin-bottom: 10px;
}

.users-list {
  margin-top: 10px;
  margin-left: 5px;
  // height: 100%;
  flex-grow: 1;
  overflow-y: scroll;

  @include mobile-600 {
    margin-top: 5px;
    margin-left: 0;
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: $color-scrollbar;
  }

  &::-webkit-scrollbar-thumb {
    width: 8px;
    height: 8px;
    background-color: $color-thumb;
  }
}

ul {
  list-style-type: none;
}
// .active-list,
// .inactive-list {
//   list-style-type: disc;
//   color: $color-label;
//   transform: translateX(20px);
// }

.user-item {
  width: 100%;
  height: 27px;
  cursor: pointer;
  transition: 0.1s linear;
  @include flex(space-between, center);
  padding: 0 5px;
  border-radius: 3px;
  font-size: 16px;
  color: $color-inactive;

  @media (hover: hover) {
    &:hover {
      background-color: $color-user-hover;
    }
  }

  .user-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include mobile-600 {
      font-size: 14px;
    }
  }

  .user-notifications {
    border: 1px solid $color-notification;
    border-radius: 50%;
    width: 30px;
    height: 20px;
    text-align: center;
    color: $color-notification;
    font-size: 12px;
    flex: none;
    @include flex(center, center);
    @include mobile-600 {
      width: 20px;
      height: 15px;
      font-size: 10px;
    }
  }

  .hidden {
    display: none;
  }
}

.active-user {
  color: $color-active;
}

.user-hidden {
  display: none;
}
