.users-wrapper {
  width: 30%;
  height: 100%;
  background-color: $color-main-bg;
  padding: 5px;
  border: 2px solid $color-input-border;
  border-radius: 5px;
}

.user-search {
  width: 100%;
  height: 30px;
  background-color: $color-body-bg;
  border-radius: 5px;
  padding: 3px;
  border: 2px solid $color-input-border;
  outline: none;

  // margin-bottom: 10px;
}

.users-list {
  margin-top: 10px;
  margin-left: 5px;
}

// ul {
//   list-style-type: none;
// }

.user-item {
  width: 100%;
  height: 27px;
  cursor: pointer;
  transition: 0.1s linear;
  @include flex(space-between, center);
  padding: 0 5px;
  border-radius: 3px;
  font-size: 16px;
  color: $color-inactive;

  @media (hover: hover) {
    &:hover {
      background-color: $color-user-hover;
    }
  }
}

.active-user {
  color: $color-active;
}

.user-hidden {
  display: none;
}
