@mixin flex($justify: normal, $align: normal) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column($justify: normal, $align: normal) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

.login-page {
  width: 100%;
  height: 100%;
  @include flex(center, center);
}

.login-content {
  width: 300px;
  height: 500px;
  border: 2px solid black;
  background-color: white;
  padding: 10px;
}

.login-form {
  width: 100%;

  @include flex-column(center, center);
}

.login-label {
  @include flex-column(center, normal);
}
