@font-face {
  font-family: "Asap";
  src: url("./assets/fonts/Asap/Asap-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Asap";
  src: url("./assets/fonts/Asap/Asap-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Asap";
  src: url("./assets/fonts/Asap/Asap-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lilita One";
  src: url("./assets/fonts/LilitaOne/lilita-one-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
