@mixin desktop-1439 {
  @media screen and (max-width: 1439px) {
    @content;
  }
}

@mixin flex($justify: normal, $align: normal) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column($justify: normal, $align: normal) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-wrap($justify: normal, $align: normal) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify;
  align-content: $align;
}

@mixin btn {
  @include flex(center, center);
  color: $color-bg;
  background-color: $color-text;
  font-size: 20px;
  font-family: "Asap";
  // font-weight: 600;
  width: 200px;
  height: 50px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
}
