$color-bg: #fbedc8;
$color-border: #476f67;
$color-label: #5eb0a1;
$color-invalid: #cc232a;
$color-text: #476f67;
$color-btn-hover: #5eb0a1;
$color-text-light: #fbedc8;
$color-title: #f9c452;
$color-btn-bg-start: #f9c452;
$color-source-block: #5eb0a1;
$color-active-row: #f9c452;
$color-piece-hover: #e47961;
$color-piece-bg: #de5d40;
$color-empty: #f9c452;
$color-piece-text: #f9c452;
$color-app-btn: #89c1b7;
$color-app-btn-text: #f9c452;
$color-hint-active: #f9c452;
$color-incorrect: red;
$color-select-border: #f9c452;
$color-modal-title: #9a3442;

$color-1: #476f67;
$color-2: #9a3442;
$color-3: #5eb0a1;
$color-4: #e47961;
$color-5: #f9c452;
$color-6: #ff9d88;
$color-7: #ffa061;
