// $color-login-bg: #ffeec3;
// $color-text: #537c78;
// $color-text: #f35d4f;
// $color-text-dark: #cc232a;
// $color-borders: #ffd35a;
// $color-borders-dark: #fba51c;
// $color-cell-light: #7aa591;
// $color-additional: #9fca94;
// $color-additional-light: #ccdbb0;

$color-bg: #fbedc8;
$color-border: #476f67;
$color-label: #5eb0a1;
$color-invalid: #cc232a;
$color-text: #476f67;
$color-btn-hover: #5eb0a1;
$color-text-light: #fbedc8;
// $color-title: #e47961;
$color-title: #f9c452;
$color-btn-bg-start: #f9c452;

$color-1: #476f67;
$color-2: #9a3442;
$color-3: #5eb0a1;
$color-4: #e47961;
$color-5: #f9c452;
$color-6: #ff9d88;
$color-7: #ffa061;
