.main-page {
  max-width: 1200px;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(71, 111, 103, 0.8);
  @include flex-column(normal, center);
  animation: show 0.5s ease-in-out forwards;
  padding-bottom: 20px;

  @include laptop-1000 {
    padding-right: 30px;
    padding-left: 65px;
  }
}

.main-box {
  max-width: 800px;
  width: 100%;
  flex-grow: 1;
  @include flex-column(center, center);
}

.top-panel {
  width: 100%;
  height: 70px;
  padding: 0 20px;
  @include flex(space-between, center);

  @include laptop-1000 {
    padding-right: 0;
    padding-left: 0;
  }

  .selects {
    @include flex;
    gap: 10px;
    .select-box {
      @include flex(normal, center);
      gap: 10px;

      .select-label {
        color: $color-piece-text;
        font-size: 20px;
        text-shadow:
          0px 0px 5px #3a4240,
          0px 0px 5px #3a4240,
          0px 0px 5px #3a4240;
      }

      .select-wrapper {
        width: 100px;
        position: relative;

        .select-main {
          width: 100%;
          height: 30px;
          background-color: $color-bg;
          border-radius: 5px;
          color: $color-text;
          border: 1px solid $color-select-border;
          @include flex(center, center);

          &::after {
            content: "";
            position: absolute;
            top: 30%;
            right: 15px;
            display: block;
            width: 5px;
            height: 5px;
            border-right: 2px solid $color-border;
            border-bottom: 2px solid $color-border;
            transform: rotate(45deg);
          }
        }

        .select-list {
          position: absolute;
          top: 32px;
          z-index: 10;
          width: 100%;
          // max-height: 152px;
          background-color: $color-bg;
          border-radius: 5px;
          color: $color-text;
          overflow-y: hidden;
          list-style-type: none;

          // border: 1px solid $color-select-border;
          max-height: 0;
          transition: max-height 0.3s ease-out;

          &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: $color-select-border;
          }

          &::-webkit-scrollbar-thumb {
            width: 5px;
            height: 5px;
            background-color: $color-border;
          }

          .select-item {
            width: 100%;
            height: 25px;
            // text-align: center;
            @include flex(center, center);
            cursor: pointer;
            position: relative;
            transition: 0.1s linear;

            &:hover {
              background-color: $color-select-border;
            }

            .done-icon {
              position: absolute;
              width: 20px;
              top: 3px;
              right: 3px;
              display: none;

              // .select-item-done & {
              //   display: block;
              // }
            }
          }

          .select-item-done {
            background-color: $color-3;
            color: $color-select-border;

            .done-icon-visible {
              display: block;
            }
          }
        }

        .list-round {
          overflow-y: auto;
        }

        .open-list {
          border: 1px solid $color-select-border;
          max-height: 152px;
        }
      }
    }
  }

  .hints-box {
    @include flex(flex-end, normal);
    margin-right: 20px;
    gap: 10px;
    flex-grow: 1;

    .hint-btn {
      width: 50px;
      height: 50px;
      background-size: 70% auto;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-color: transparent;
      border-radius: 5px;
      border: none;
      outline: none;
      cursor: pointer;
    }

    .hint-active {
      background-color: $color-hint-active;
    }

    .hint-image {
      background-image: url("/src/assets/icons/image-hint.svg");
    }

    .hint-translation {
      background-size: 80% auto;
      background-image: url("/src/assets/icons/text-hint.svg");
    }

    .hint-sound {
      // background-size: 80% auto;
      background-image: url("/src/assets/icons/sound-hint.svg");
    }
  }

  .logout-btn {
    @include btn;
    background-color: $color-btn-bg-start;
    color: $color-text;
    width: 100px;
    height: 40px;

    &:hover {
      background-color: $color-bg;
    }
  }
}

.hints-view {
  width: 100%;
  height: 65px;
  @include flex-column(center, center);

  .translation {
    font-size: 20px;
    color: $color-text-light;
    text-align: center;
    text-shadow:
      0px 0px 5px #3a4240,
      0px 0px 5px #3a4240,
      0px 0px 5px #3a4240;

    @include laptop-1000 {
      font-size: 18px;
    }
  }

  .sound-view {
    width: 40px;
    height: 40px;
    background-size: 100% auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    // border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background-image: url("/src/assets/icons/sound-hint-view.svg");
  }

  .hint-view-hidden {
    display: none;
  }
}

.hints-view-hidden {
  visibility: hidden;
}

.result-box {
  margin-top: 10px;
  // margin-right: 50px;
  // margin-left: 50px;
  position: relative;
  // max-width: 800px;
  width: 100%;
  background-color: $color-bg;
  align-self: center;
  border-radius: 5px;

  .rows-icons-box {
    position: absolute;
    right: 100%;
    height: 100%;
    top: 0;
    // display: none;

    .row-icon-wrapper {
      // width: 50px;
      height: 10%;
      aspect-ratio: 1;
      @include flex(center, center);
    }

    .row-icon {
      @include flex(center, center);
      background-color: $color-bg;
      width: 80%;
      height: 80%;
      border-radius: 50%;
      color: $color-text;
    }
  }

  .result-field {
    width: 100%;
    position: relative;
    overflow: hidden;
    // border-radius: 5px;

    .full-bg {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: auto;
      z-index: 3;
      animation: show 1s linear forwards;
    }

    .row {
      width: 100%;
      // height: 50px;
      height: 10%;
      @include flex(center, center);
      // border-radius: 5px;
    }

    .row-block {
      pointer-events: none;
    }

    .row-active {
      background-color: $color-active-row;
    }
  }
}

.source-block {
  align-self: center;
  // max-width: 800px;
  width: 100%;
  background-color: $color-bg;
  border-radius: 5px;
  // height: 50px;
  margin-top: 20px;
  @include flex(center, center);

  .result-text {
    font-family: "Lilita One";
    color: $color-2;
    // text-shadow: 0px 0px 3px #3a4240;
    font-size: 25px;
    font-weight: 600;
    animation: show 1s linear forwards;

    // animation: changeColorResult 3s linear infinite forwards;
  }
}

@keyframes changeColorResult {
  0% {
    color: $color-1;
  }
  50% {
    color: $color-3;
  }
  100% {
    color: $color-1;
  }
}

.piece {
  @include flex(center, center);
  height: 100%;
  // border: 2px solid $color-text-light;
  background-color: $color-piece-bg;
  border-radius: 5px;

  transition: 0.3s ease-out;
  cursor: pointer;
  overflow: hidden;
  color: $color-text-light;
  // background-origin: padding-box;
  // background-repeat: no-repeat;

  &:hover {
    background-color: $color-piece-hover;
  }

  position: relative;

  .image-bg {
    position: absolute;
    z-index: 1;
    display: none;
  }

  .piece-text {
    width: 100%;
    @include flex(center, center);
    height: 100%;
    position: relative;
    border: 2px solid $color-text-light;
    border-radius: 5px;
    color: $color-text-light;
    font-weight: 600;
    font-size: 18px;
    text-shadow:
      0px 0px 5px #3a4240,
      0px 0px 5px #3a4240,
      0px 0px 5px #3a4240;
    z-index: 2;

    @include laptop-1000 {
      font-size: 18px;
    }
  }
}

.piece-image-active {
  border-radius: 0;
  .image-bg {
    display: block;
    animation: show 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
}

.piece-image-active {
  .piece-text {
    border-radius: 0;
    color: $color-piece-text;
  }
}

.piece-incorrect {
  .piece-text {
    color: $color-incorrect;
  }
}

.empty {
  height: 80%;
  aspect-ratio: 1/1;
  // width: 45px;
  background-color: $color-empty;
  opacity: 0.3;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.bottom-panel {
  margin-top: 20px;
  // max-width: 800px;
  width: 100%;
  // align-self: center;
  @include flex(center);
  gap: 10px;

  .continue-btn,
  .check-btn,
  .auto-btn {
    @include btn-main-page;
    display: none;

    &:disabled {
      pointer-events: none;
      opacity: 0.6;
    }
  }

  .auto-btn {
    background-color: $color-app-btn;
  }

  .btn-show {
    display: flex;
    animation: show 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
}

.hide-elem {
  animation: hide 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
