.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.4);

  @include flex(center, center);
}

.modal-content {
  background-color: $color-bg;
  z-index: 6;
  border-radius: 10px;
  padding: 20px 30px;
  max-width: 600px;
  // height: 600px;
  // box-shadow: 0px 0px 10px 1px $color-border;
  // position: relative;

  @include flex-column(normal, center);
}

.image-modal {
  width: 150px;
  border-radius: 5px;
}

.modal-text {
  font-size: 20px;
  color: $color-modal-title;
  margin-top: 10px;
  text-align: center;
}

.overlay-show {
  animation: overlay-show 0.3s ease-in-out forwards;
}

.modal-show {
  animation: modal-show 0.3s ease-in-out forwards;
  // animation-fill-mode: forwards;
}

.overlay-hide {
  animation: overlay-hide 0.3s ease-in-out forwards;
  animation-fill-mode: forwards;
}

.modal-hide {
  animation: modal-hide 0.3s ease-in-out forwards;
  animation-fill-mode: forwards;
}

.result-list {
  margin-top: 10px;
  @include flex-column(normal, normal);
}

.known-title,
.unknown-title {
  font-size: 20px;
  margin-top: 10px;
  align-self: center;
}

.title-hidden {
  display: none;
}

.known-title {
  color: $color-label;
}

.unknown-title {
  color: $color-invalid;
}

.known-list,
.unknown-list {
  width: 100%;
  list-style-type: none;
  margin-top: 10px;
}

.list-item {
  @include flex(normal, center);

  .sound-modal {
    width: 30px;
    height: 30px;
    background-image: url("/src/assets/icons/sound-hint-view.svg");
    background-size: 100% auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .item-text {
    margin-left: 10px;
    font-size: 16px;
    color: $color-text;
  }
}

.continue-btn-modal {
  @include btn;
  margin-top: 20px;
  width: 150px;
  height: 40px;

  &:hover {
    color: $color-title;
  }
}

@keyframes modal-show {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes modal-hide {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes overlay-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
