.start-page {
  padding: 40px;
  margin: 15px;
  max-width: 800px;
  width: 100%;
  background-color: rgba(71, 111, 103, 0.8);
  border-radius: 20px;
  color: $color-text-light;
  @include flex-column(normal, center);
  position: relative;
  animation: show 0.5s ease-in-out forwards;
}

.start-title {
  font-family: "Lilita One";
  font-size: 50px;
  color: $color-title;
  text-shadow: 0px 0px 3px #3a4240;
}

.start-greeting {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 600;
  color: $color-title;
  text-shadow: 0px 0px 3px #3a4240;
  animation: change-color 5s infinite;
}

@keyframes change-color {
  0% {
    color: $color-6;
  }
  50% {
    color: $color-2;
  }
  100% {
    color: $color-6;
  }
}

.start-rules {
  font-size: 20px;
  text-shadow: 0px 0px 3px #3a4240;

  p,
  li {
    margin-top: 10px;
  }
}

.start-puzzle {
  position: absolute;

  svg {
    width: 100px;
    height: 100px;
  }
}

.start-puzzle:nth-child(1) {
  bottom: 5%;
  left: 5%;
  transform: rotate(45deg);
  svg path {
    fill: $color-5;
  }
}
.start-puzzle:nth-child(2) {
  top: 5%;
  left: 5%;
  transform: rotate(-45deg);
  svg path {
    fill: $color-3;
  }
}
.start-puzzle:nth-child(3) {
  bottom: 5%;
  right: 5%;
  transform: rotate(-45deg);
  svg path {
    fill: $color-2;
  }
}
.start-puzzle:nth-child(4) {
  top: 5%;
  right: 5%;
  transform: rotate(45deg);
  svg path {
    fill: $color-4;
  }
}

.start-btn {
  margin-top: 50px;
  @include btn;
  background-color: $color-btn-bg-start;
  color: $color-text;
  font-weight: 600;

  &:hover {
    background-color: $color-bg;
  }
}
