.controls-wrapper {
  width: 250px;
  height: 630px;
  font-size: 20px;
  @include flex-column(space-between);

  @include laptops {
    width: 100%;
    align-items: center;
    height: auto;
  }

  @include tablets {
    font-size: 18px;
  }

  @include tablets-700 {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include mobile {
    font-size: 16px;
  }
}

.select-box {
  @include flex-column;
  width: 100%;
  gap: 10px;

  @include laptops {
    flex-direction: row;
    width: auto;
    gap: 20px;
  }
}

.btn-box {
  margin-top: 40px;
  @include flex-column;
  width: 100%;
  gap: 10px;

  @include laptops {
    flex-wrap: wrap;
    margin-top: 20px;
    max-height: 110px;
    column-gap: 10px;
    align-content: space-between;
  }
}

.select-wrapper {
  width: 100%;
  @include flex-column;

  @include laptops {
    width: 250px;
  }

  @include tablets {
    width: 200px;
  }

  .select-label {
    color: $color-text;
  }

  .select-level,
  .select-game {
    margin-top: 5px;
    outline: none;
    height: 35px;
    text-align: center;
    border: 1px solid $color-btn-border;
    box-shadow: 0px 0px 5px 3px $btn-shadow;
    border-radius: 5px;
    font-size: 18px;
    background-color: $color-btn-bg;
    color: $color-text;
    cursor: pointer;

    @include tablets {
      height: 30px;
    }

    @include mobile {
      font-size: 16px;
    }

    .dark-theme & {
      color: $dark-color-btn;
      background-color: $dark-color-btn-bg;
      border-color: $dark-color-btn-border;
      box-shadow: 0px 0px 5px 1px $dark-btn-shadow;
    }

    &:disabled {
      pointer-events: none;
      border-color: $color-btn-disabled;
    }
  }
}

.btn {
  width: 100%;
  background-color: $color-btn-bg;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px 3px $color-border-shadow;
  border: 1px solid $color-btn-border;
  border-radius: 5px;
  height: 45px;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  @include laptops {
    max-width: 32%;
  }

  @include tablets {
    height: 35px;
  }

  @include mobile {
    line-height: 0.9;
  }

  .dark-theme & {
    color: $dark-color-btn;
    background-color: $dark-color-btn-bg;
    border-color: $dark-color-btn-border;
    box-shadow: 0px 0px 5px 1px $dark-btn-shadow;
  }

  &:disabled {
    pointer-events: none;
    border-color: $color-btn-disabled;
    color: $color-btn-disabled;

    .dark-theme & {
      color: $dark-color-btn-disabled;
    }
  }

  @media (hover: hover) {
    &:hover {
      color: $color-btn-hover;
      box-shadow: 0px 0px 5px 3px $color-border-shadow;

      .dark-theme & {
        color: $dark-color-btn-hover;
      }
    }
  }
}
