.controls-wrapper {
  width: 250px;
  height: 630px;
  // flex-grow: 1;
  // background-color: green;
  // order: 3;
  font-size: 20px;

  @include flex-column(space-between);
  // gap: 15px;
}

.select-box {
  @include flex-column;
  width: 100%;
  gap: 10px;
}

.btn-box {
  margin-top: 40px;
  @include flex-column;
  width: 100%;
  gap: 10px;
}

.select-wrapper {
  width: 100%;
  @include flex-column;

  .select-level,
  .select-game {
    margin-top: 5px;
    border: none;
    outline: none;
    // width: 150px;
    height: 35px;
    text-align: center;
    border: 1px solid $color-btn-border;
    box-shadow: 0px 0px 5px 3px $color-border-shadow;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;

    &:disabled {
      pointer-events: none;
      border-color: $color-btn-disabled;
    }
  }
}

.btn {
  width: 100%;
  background-color: $color-btn-bg;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px 3px $color-border-shadow;
  border: 1px solid $color-btn-border;
  border-radius: 5px;
  height: 45px;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:disabled {
    pointer-events: none;
    border-color: $color-btn-disabled;
    color: $color-btn-disabled;
  }

  @media (hover: hover) {
    &:hover {
      color: $color-btn-hover;
      // border: 1px solid $color-btn-bg;
      box-shadow: 0px 0px 5px 3px $color-border-shadow;
    }
  }
}
