.cell {
  width: 27px;
  height: 27px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  color: black;

  font-size: 16px;
  font-family: "Itim";
}

.cell-true {
  background-color: $color-cell;
}

.cell-false {
  background-image: url("./assets/icons/icon-cross.svg");
  background-size: 80% 80%;
  background-position: center center;
}

.field-wrapper {
  // width: 60%;
  // height: 100%;
  background-color: $color-bg-field;
  @include flex-column(center, center);
  width: 630px;
  height: 630px;
  border-radius: 10px;
}

.game-info {
  // @include flex;
  // gap: 20px;
  font-size: 18px;
}

.full-field {
  touch-action: none;
  // align-self: center;

  border-collapse: collapse;
  border: none;
  border: 3px solid black;
  border-right: none;
  border-bottom: none;

  .top-hints-table,
  .left-hints-table,
  .main-field-table {
    border-collapse: collapse;
    border: none;
  }

  .top-hints-table {
    tr:last-child td {
      border-bottom: none;
    }

    tr:first-child td {
      border-top: none;
      // border-left: 3px solid $color-cell-light;
    }
  }

  .left-hints-table {
    tr td:first-child {
      border-left: none;
    }
    tr td:last-child {
      border-right: none;
    }
  }

  .top-hints-table {
    tr td:first-child {
      border-left: 3px solid black;
    }

    tr td:nth-child(5n) {
      border-right: 3px solid black;
    }
  }

  .left-hints-table {
    tr:nth-child(5n) td {
      border-bottom: 3px solid black;
    }

    tr:first-child td {
      border-top: 3px solid black;
    }
  }

  .main-field-table {
    tr td:first-child {
      border-left: 3px solid black;
    }
    tr td:nth-child(5n) {
      border-right: 3px solid black;
    }

    tr:nth-child(5n) td {
      border-bottom: 3px solid black;
    }

    tr:first-child td {
      border-top: 3px solid black;
    }
  }
}

.main-field-table {
  cursor: pointer;
}
