.header {
  height: 80px;
  width: 100%;
  @include flex(space-between, center);
}
.header-btn-box {
  width: 200px;
  height: 100%;
  @include flex(space-between, center);
}

.title {
  font-size: 35px;
  font-family: "Astakhov Skin";
  margin: 0;
}

.timer {
  // width: 200px;
  text-align: center;
  font-size: 30px;
  align-self: center;
  @include flex(center);
  color: $color-time;
  span {
    display: block;
    width: 30px;
    text-align: center;
  }

  span:first-child {
    width: 70px;
    text-align: right;
  }

  span:last-child {
    width: 40px;
    text-align: left;
  }
}

.input-theme {
  display: none;
}

.slider {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: $color-bg-switcher;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: $color-switcher;
  border-radius: 50%;
  transition: transform 0.3s;
}

.input-theme:checked + .slider {
  background-color: $color-bg-switcher-checked;
}

.input-theme:checked + .slider::before {
  transform: translateX(25px);
}
