// h1 {
//   font-family: "Astakhov Skin";
//   color: $color-text;
//   font-size: 50px;
// }

// h2 {
//   font-family: "Itim";
//   color: $color-text;
//   font-size: 30px;
// }

.wrapper {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: $color-main-bg-light;
  @include flex(center, center);
}
