.wrapper {
  width: 1000px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  @include flex-column(normal, normal);
  // display: none;
}

.header {
  height: 100px;
  width: 100%;
  @include flex(center, center);

  .title {
    font-size: 35px;
    font-family: "Astakhov Skin";
  }
  // text-align: center;
}

.game-wrapper {
  width: 100%;
  height: calc(100% - 100px);
  // flex-grow: 1;
  @include flex-column(normal, normal);

  flex-wrap: wrap;
  font-family: "Itim";
}

.field-wrapper {
  width: 60%;
  height: 100%;
  background-color: white;
  @include flex(center, center);
  order: 1;
}

.timer {
  order: 2;
  width: 30%;
  height: 60px;
  padding-top: 27px;
  text-align: center;
  font-size: 30px;
  @include flex(center);

  span {
    display: block;
    width: 30px;
    text-align: center;
  }

  span:first-child {
    width: 70px;
    text-align: right;
  }

  span:last-child {
    width: 70px;
    text-align: left;
  }
}
