@import "./styles/abstracts/fonts";
@import "./styles/abstracts/variables";
@import "./styles/abstracts/mixins";

@import "./styles/base/base";
@import "./styles/pages/login-page";
@import "./styles/pages/start-page";
@import "./styles/pages/main-page";
@import "./styles/pages/results-modal";
